.demo{
    width:100%;
    max-width: 400px;
}
#calc{
    display: flex;
    flex-direction: column;
    background-color: #cccccc;
    width:fit-content;
    height:fit-content;
    padding:0.5%;
    border-radius: 5px;
    width:100%;
    min-width: 400px;
    #calcScreen{
        width:auto;
        background-color: #aaaaaa;
        padding:5px;
        margin-bottom: 4px;
        border-radius: 5px;
        p{
            font-size: 1.5rem;
            min-height: 1.2em;
            margin:0;
            padding-left:2%;
        }
    }
    button{
        font-size:1.5rem;
        text-decoration: none;
        border: 0px black solid;
        margin: 0;
        border-radius: 4px;
    }
    button:hover{
        background-color: rgb(175, 175, 175);
    }
    #calculator{
        .row{
            display: flex;
            justify-content: space-between;
            width:100%;
            .number{
                width:33.333%;
                margin:1px;
            }
            .operator{
                width:33.333%;
                margin:1px;
            }
        }
        #clear{
            width:100%;
            margin-top: 1px;
        }
    }
    
}
@media only screen and (max-width:1000px){
    .demo{
        min-width: none;
        max-width:100%;
        #calc{
            min-width: 0;
        }
    }
}
@media only screen and (max-width:500px){
    .demo{
        min-width: none;
        #calc{
            min-width: 0;
        }
    }
}