@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
$highlight:#C3B299;
$highlight2:#CBD4C2;
$navbar: #396D84;

body{
    margin: 0;
    padding:0;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    background: #ECE9E9;
}
h2{
    font-family: "Fredoka",sans-serif ;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 1.5rem;
}

h1{
    width:fit-content;
    font-family: "Fredoka",sans-serif ;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 2rem;
    border-bottom: 2px black solid;
}
.customButton{
    border:none;
    border-radius: 3px;
    text-decoration: none;
    font-size: 1rem;
    color: black;
    padding:5px 20px;
    background-color: $highlight;
    max-width: fit-content;
    cursor: pointer;
}
#title{
    width:100%;
    display: flex;
    justify-content: center;
}
nav{
    width:100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    height: fit-content;
    ul{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        width:fit-content;
        justify-content: center;
        margin:0;
        padding: 0;
        border-bottom: 3px $navbar solid;
        border-radius: 4px;
        li{
            padding:10px;
            font-size: 1.5rem;
            a{
                height:100%;
                width:100%;
                text-decoration: none;
                color:black;
            }
        }
        li:hover{
            background-color: rgb(190, 190, 190);
        }
    }
}
#hero{
    display: flex;
    width:100%;
    justify-content: center;
    .card{
        display: flex;
        justify-content: center;
        width:fit-content;
        height:fit-content;
        margin:15px;
        background-color: $highlight;
        border-radius: 10px;
        img{
            width:100%;
            padding:10px;
            border-radius: 20px;
        }
    }
}
.textContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height:fit-content;
    width:100%;
    background-color: $highlight2;
    p{
        width:40%;
        margin:0 0 1em 0;
    }
    h2{
        margin:0.5em;
    }
}
#projects{
    height:fit-content;
    display: flex;
    justify-content: center;
    margin:20px;
    .largeImage{
        width:60%;
        display: flex;
        justify-content: space-between;
        img{
            margin-right:3%;
            border-radius: 15px;
        }
        h2{
            margin:0 0 0.5em 0;
        }
        display:flex;
        flex-direction: row;
        
    }
}
#languages{
    height:fit-content;
    background-color: $highlight2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #languagesContent{
        width:40%;
        display: flex;
        flex-direction: row;
        p{
            width:auto;
        }
        #icons{
            min-width:152px;
            min-height:80px;
            .icon{
                background-color: $highlight;
                border-radius: 5px;
                
                height:64px;
                width:64px;
                padding:3px;
                margin:2px;
            }
            img{
                border-radius: 5px;
                height:64px;
                width:64px;
            }
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}
#projects{
    width:100%;
    height:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .projectCard{
        display: flex;
        width:60%;
        margin: 20px;
        background-color: $highlight2;
        padding:10px;
        border-radius: 10px;
        img{
            border-radius: 15px;
        }
        #pCardContent{
            margin-left:1%;
            margin-right: 1%;
            display: flex;
            flex-direction: column;
            p{
                height:100%;
            }
            button{
                margin-bottom: 1%;
            }
        }
    }
}
@media only screen and (max-width:1000px){
    #projects{
        .largeImage{
            flex-direction: column;
        }
    }
    #languages{
        #languagesContent{
            flex-direction: column;
        }
    }
    #projects{
        .projectCard{
            width:80%;
            flex-direction: column;
        }
    }
}
@media only screen and (max-width: 500px) {
    #hero{
        flex-direction: column;
        align-items: center;
        .card{
            height:200px;
            
        }
        
    }
    .textContent{
        p{
            width:80%;
        }
    }
    #languages{
        #languagesContent{
            width:80%;
        }
    }

  }